{{extend 'layout.html'}}

<body class="engineer-page">


    <div class="engineer-boxes">
        <h1 class="super-large">
            Work Experience
        </h1>

        <div class="engineering-rows">
                    <h1 class="left-h">
                        IBM
                    </h1>

                    <h2 class="right-h">
                        June 2016 - September 2016
                    </h2>
        </div>
        <p style="font-size: 20px">
            Testing, automation, wirting scripts, and developing library files to better access, rearrange,
            create, delete, and in general handling Big Data using SQL, Derby, Hbase, and HIVE, was only a
            portion of what I worked on and learned during my almost four-month internship at IBM as a Software
            Developer Intern. I also had a first hand involvement in developing machine acquisition layer of machine
            preparation for clients.
        </p>
        <h2 style="font-weight: bold">Sample Projects:</h2>

        <div style="margin-left: 50px">
            <h3 style="font-weight: bold">Common utils for HBase REST api through Knox:</h3>
            <p style="font-size: 20px;">
                I wrote a library file in Python to test most important operations done using Hbase REST API.
                Most functions took as an input a cluster IP address, credentials, and authorization information
                such as user and password, and certificate path to the certificate file for security purposes of
                a request call, and in return they returned the value that the function would return in HBase
                command line.
            </p>
        </div>
    </div>

    
    <div class="engineer-boxes">
        <h1 class="super-large">
            Education
        </h1>

        <h2 class="engineering-rows">
            UCSC
        </h2>
    </div>


</body>
