{{extend 'layout.html'}}

<body class="engineer-page">


    <div class="engineer-boxes">
        <h1 class="super-large">
            Work Experience
        </h1>

        <div class="engineering-rows">
                    <h1 class="left-h">
                        IBM
                    </h1>

                    <h2 class="right-h">
                        June 2016 - September 2016
                    </h2>
        </div>
        <h2 style="font-weight: bold">Software Developer Intern</h2>
        <p style="font-size: 22px">
            Testing, automation, wirting scripts, and developing library files to better access, rearrange,
            create, delete, and in general handling Big Data using SQL, Derby, Hbase, and HIVE, was only a
            portion of what I worked on and learned during my almost four-month internship at IBM as a Software
            Developer Intern. I also had a first hand involvement in developing machine acquisition layer of machine
            preparation for clients.
        </p>
        <h2 style="font-weight: bold">Sample Projects:</h2>

        <ol>

            <li style="font-size: 25px">
                <div style="margin-left: 50px">
                    <h3 style="font-weight: bold">Common utils for HBase REST api through Knox:</h3>
                    <p style="font-size: 20px;">
                        I wrote a library file in Python to test most important operations done using Hbase REST API.
                        Most functions took as an input a cluster IP address, credentials, and authorization information
                        such as user and password, and certificate path to the certificate file for security purposes of
                        a request call, and in return they returned the value that the function would return in HBase
                        command line.
                    </p>
                </div>

                <div style="margin-left: 100px">
                    <h2 style="font-weight: bold">Features:</h2>
                    <ul>
                        <li style="font-size: 20px">Functions such as create, and delete a table,
                            get values of a row or a single cell, list tables, and etc.</li>
                        <li style="font-size: 20px">Efficient and useful library to write automation test codes.</li>
                    </ul>
                </div>

            </li>

    <!-- ******************************************************************************************************-->

            <li style="font-size: 25px">
                <div style="margin-left: 50px">
                    <h3 style="font-weight: bold">Common utils for Hive REST api through Knox:</h3>
                    <p style="font-size: 20px;">
                        Library file in Python similar to one using HBase operations, this time in Hive.
                        Again similar to HBase in this file we also asked for IP, and authorization, and certificate
                        path and returned the values of what Hive operation would return in command line.
                    </p>
                </div>

                <div style="margin-left: 100px">
                    <h2 style="font-weight: bold">Features:</h2>
                    <ul>
                        <li style="font-size: 20px">Most Hive (command line) operations are included in this file, such as
                            create and delete tables and databases, listing tables and databases and etc..</li>
                        <li style="font-size: 20px">This was also an efficient library to be used for testing purposes.</li>
                    </ul>
                </div>
            </li>


    <!-- ******************************************************************************************************-->

            <li style="font-size: 25px">
                <div style="margin-left: 50px">
                    <h3 style="font-weight: bold">Common utils to check link availability:</h3>
                    <p style="font-size: 20px;">
                        This library file provided enough functions to check “quicklinks” availability on all APIs
                        that had quicklinks option on Ambari UI such as HDFS, HBase, OOZIE and so on. Given gateway
                        host(IP), and quicklink to each function would return weather link is available or not.
                    </p>
                </div>

                <div style="margin-left: 100px">
                    <h2 style="font-weight: bold">Features:</h2>
                    <ul>
                        <li style="font-size: 20px">Includes 6 functions which corresponds to 6 APIs that had the ‘quicklink’
                            option. If the quicklink is available return value is 200; otherwise another status code is returned
                            accordingly.</li>
                    </ul>
                </div>
            </li>


    <!-- ******************************************************************************************************-->
            <li style="font-size: 25px">
                <div style="margin-left: 50px">
                    <h3 style="font-weight: bold">Machine Acquisition Layer Testing/Developing:</h3>
                    <p style="font-size: 20px;">
                        On this task I had a first-hand involvement in one of the main layers of making remote machines
                        available to the clients(machine-acquisition) using REST API.
                    </p>
                </div>

                <div style="margin-left: 100px">
                    <h2 style="font-weight: bold">Features:</h2>
                    <ul>
                        <li style="font-size: 20px">Create, Delete, GET Status, Rename, and Reload machine(s)
                            testing.</li>
                        <li style="font-size: 20px">Developing Java code to internally update Hostname in the “acquired”
                            Unix machine from any machine using JSch Java library.</li>
                    </ul>
                </div>
            </li>

        </ol>

    </div>

    
    <div class="engineer-boxes">
        <h1 class="super-large">
            Education
        </h1>


        <!--------------UCSC-------------------------------------------------------------->
        <div class="engineering-rows">
            <h1 class="left-h">
                University of California, Santa Cruz
            </h1>

            <h2 class="right-h">
                October 2014 - June 2008
            </h2>

        </div>

            <!--------------West Valley-------------------------------------------------------------->
        <div class="engineering-rows">
            <h1 class="left-h">
                West Valley Community College
            </h1>

            <h2 class="right-h">
                September 2008 - May 2014
            </h2>
         </div>

    </div>


</body>
