
{{extend 'layout.html'}}


<body class="my-background">
    {{block header}}
        <header class="background">
          <div>
            {{if response.title:}}
            <h1 style="font-size: 80px">Mehdi Mirabian
              <small>{{=response.subtitle or ''}}</small></h1>
            <div>
                <img src="mehdi_mirabian/static/images/grad.jpg" alt="Mountain View" style="width:304px;height:400px;">
            </div>
            {{pass}}
          </div>
        </header>
    {{end}}

    <div class="page-heading">
        <p>
            Welcome to Mehdi's Website<br>
        </p>
    </div>


</body>


