
{{extend 'layout.html'}}


<body class="main-page">

    <header class="cover-photo">
          <div>
            {{if response.title:}}
            <h1 style="font-size: 60px">Mehdi Mirabian
              <small>{{=response.subtitle or ''}}</small></h1>
            {{pass}}
          </div>
        <div>
            <img class="profile-pic">
        </div>
    </header>



    <div class="page-heading">
        <p>
            Welcome to Mehdi's Website<br>
        </p>
    </div>

    <div class="button-div">
        <div class="my-button" style="float: left">
            <a style='color: black' href="{{=URL('default', 'engineer')}}">
                The Software Engineer
            </a>
        </div>

        <div class="my-button">
            <a style='color: black' href="{{=URL('default', 'poet')}}">
                The Poet
            </a>
        </div>

        <div class="my-button" style="float: right">
            <a style='color: black' href="{{=URL('default', 'soccer')}}">
                The Soccer Player
            </a>
        </div>

    </div>

</body>


