
{{extend 'layout.html'}}


<body class="desk">

    <button class="poet-to-home" onclick="window.location.href='/mehdi_mirabian'">
    </button>

    <div id="flipbook" class="book-cover">
        <!------ Introduction Page ---------------------------->
        <div class="book-paper" style="font-family: Garamond;">
            <h2>Introduction</h2>
            <p>
                I have always been interested in persian poetry, that has a history of over a thousand years, I have
                read Hafez, Saadi, Molana, Ferdowsi and many more greats' works a number of times and I have aqcuired
                some skills of my own to write poems in Farsi. <br>
                <br>
                I hope that my English-speaking visitors accept my apology as the next pages will be fully in Farsi, and
                it's pure, and rich literature form.
            </p>
        </div>

        <!------ Farsi Introduction Page------------------------>
        <div class="book-paper" dir="rtl" style="padding: 25px">
            <h4>به نام حضرت حق بند نامه باز کنم<br>
                که بی اجازت وی کی سخن دراز کنم
            </h4>

            <p>
                بنده در طی چندین سال گذشته، در پی کسب هنر و دانش علم روز شبانه روز کوشیده، و به قیمت ایام چوانی و شاب، کنون خود را مفتخر
                و قابل دانسته که چندی از آثار خود را با شما عزیزان به اشتراک بگذارم.<br>
                هر چند که به قول لسان القیب:<br>
                اگر چه ارض هنر پیش یار بی ادبیست <br>
                زبان خموش ولیکن دهان پر از عربیست<br>
                 در هر حال هنرمند امیدوار، که اثر، مورد لطف مخاطب واقع گردد.<br>
                <br>
                محمد مهدی میرابیاد (خاطی)

            </p>
        </div>

        <!----- First Persian Poem------------------------>
        <div class="book-paper" dir="rtl" style="padding: 25px">
اين ابرها كه جلوه ي دلگير مي كشند<br>
يك لايه بر زلاليِ تصوير مي كشند<br>
اي "سايه" اين سوال به ذهن من آمده است:<br>
"خورشيد را چگونه به زنجير مي كشند"<br>
اين ناشيان كه آبِ رخ از عشق برده اند<br>
خون از جوان و عربده از پير مي كشند<br>
بد مست مي شوند و براي رفيقِ عشق<br>
مستانه نعره ها زده شمشير مي كشند<br>
چون بارِ خود به منزلِ مقصد نمي برند<br>
نقصانِ خود پيامدِ تقدير مي كشند<br>
از نور منزجر شده در بحرِ شب فرو<br>
پاي زمان به چاهِ پر از قير مي كشند<br>
"خاطي" مسير شعر به دنبالِ سايه است<br>
بيهوده سايه را پسِ تصوير مي كشند<br>
        </div>



        <!----- Second Persian Poem------------------------>
        <div class="book-paper" dir="rtl" style="padding: 25px">
        <p>

اگرچه باد جنون كنده بال پروازم<br>
هنوز بر سر اين قله ها سر افرازم<br>
من آن دلاور پر زخميم كه در محشر<br>
طلايه دار ستم ديدگان جانبازم<br>
اگر به كفر شما تن نداده ام قبول كنيد<br>
من از تبار جوانمردمان ناسازم<br>
قلم به معركه بي ترس سر بتازانم<br>
حماسه ساز قلم پيشگان سربازم<br>
منم مقابل اين مردمان خود پرور<br>
نيٓم مراد، وليكن مريد ممتازم<br>
اگر به دادخواهي مظلوم سر دهم فرياد<br>
به چار گوشه ي گيتي رساست آوازم<br>
به خشم خاطي كشتي شكسته خورده مگير<br>
منم كه موج ستم هر دمست دمسازم<br>
به دادخواهي ازين در كنم رسالت دوست<br>
همين غزل به شما آيتي ز اعجازم<br>
        </p>
        </div>


        <!--Third Persian Poem-------------------------------->
        <div class="book-paper" dir="rtl" style="padding: 25px">
            <p>
وه‌ چه دلگیر و پریشانم الهی رحم کن<br>
                من درین دوزخ نمی‌‌مانم الهی رحم کن<br>
                رویِ خشم الودِ من را کس ندیدست این چنین<br>
                خون بهایِ لاله خواهانم الهی رحم کن<br>
                دردِ تنهایی عمیقست  ای خدا آسان مگیر<br>
                هر شب از این درد گریانم الهی رحم کن<br>
من که از آزادگی سروم به زیر بارِ غم <br>
                گاه افتان گاه خیزانم الهی رحم کن<br>
                اشتباهم عشق بودست و ببین پایانِ کار<br>
                تا کجا‌ها رفته تاوانم الهی رحم کن<br>
                تا طبیبم قصدِ جان دارد مرا افلاکیم<br>
                من کجا در بندِ درمانم ؟ الهی رحم کن<br>
                آتشِ یأس از رفیقان خانمانم را بسوخت<br>
                آیت الکرسی به شب خوانم الهی رحم کن<br>
                پیشِ وی عیبم بپوشان جانِ ستار العیوب<br>
                تا نداند ناا مسلمانم الهی رحم کن<br>
                یاریم کن تا که اشکانم نبینند این بدان<br>
                بغض بگرفته گریبانم الهی رحم کن<br>
                از جفا ی زهد مردانِ مزور خالقا<br>
                تارِ مویی گشته ایمانم الهی رحم کن<br>
                خاطی آغازِ تمامِ رنجهایِ نینواست<br>
                غایتش را سخت می‌دانم الهی رحم کن<br>
            </p>

        </div>

        <div class="book-paper"></div>
    </div>


    <script type="text/javascript">
        $("#flipbook").turn({
            width: 800,
            height: 540.442133,
            direction: "rtl",
            display: "double",
            acceleration: true,
            elevation: 50,
        });
    </script>



</body>


