body{
    background-image: url("../images/main-page-bg.jpg");
    font-family: Garamond;
}

.cover-photo{
    background-image: url("../images/Tehran.jpg");
    font-family: Garamond;
    color: white;
    background-repeat: repeat-x;
    background-size: cover;
    border: hidden;
}

html{
    overflow-y: scroll;
}

.page-heading{
    font-family: Garamond;
    font-size: 75px;
    color: black;
    text-align: center;
    position: absolute;
}