body.main-page{
    background-image: url("../images/main-page-bg.jpg");
    font-family: Garamond;

}

body.engineer-page{
    background-image: url("../images/tech.jpg");
    font-family: Garamond;
    background-size: contain;
}

.cover-photo{
    background-image: url("../images/Tehran.jpg");
    font-family: Garamond;
    color: white;
    background-repeat: repeat-x;
    background-size: cover;
    border: hidden;
}

html{
    overflow-y: scroll;
    overflow-x: scroll;
}

.page-heading{
    font-family: Garamond;
    font-size: 75px;
    color: black;
    text-align: center;
    position: absolute;
    display: block;
    position: static;
    clear: both;
    margin-bottom: 25px;
}

.button-div{
    display: block;
    font-family: "Arial Black";
    position: static;
    text-align: center;
    float: left;
}

.my-button{
    background-color: #ffffff;
    display: inline-block;
    margin-left: 300px;
    margin-bottom:40px;
    width: 250px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    position: static;
    border-radius: 7px;
    border-style: outset;
}

.engineer-boxes{
    display: block;
    border: thick;
    border-color: #0a001f;
    border-style: solid;
    background-color: floralwhite;
    margin-bottom: 20px;
    overflow: hidden;
}

h1.super-large{
    font-size: 45px;
    font-weight: bold;
}

.engineering-rows{
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 12px;
    align-text: right;
    overflow: hidden;
}

.left-h{
    float: left;
    font-weight: bold;
}

.right-h{
    float: right;
    font-size: x-large;
    font-style: oblique;
}

