body{
    background-image: url("../images/main-page-bg.jpg");
    font-family: Garamond;

}

.cover-photo{
    background-image: url("../images/Tehran.jpg");
    font-family: Garamond;
    color: white;
    background-repeat: repeat-x;
    background-size: cover;
    border: hidden;
}

html{
    overflow-y: scroll;
    overflow-x: scroll;
}

.page-heading{
    font-family: Garamond;
    font-size: 75px;
    color: black;
    text-align: center;
    position: absolute;
    display: block;
    position: static;
    clear: both;
    margin-bottom: 25px;
}

.button-div{
    display: block;
    font-family: "Arial Black";
    position: absolute;
    text-align: center;
    float: left;
}

.my-button{
    background-color: #ffffff;
    display: inline-block;
    margin-left: 300px;
    margin-bottom:40px;
    width: 250px;
}