.book-paper{
    background-image: url("../images/book.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: static;
    margin: 0 auto;
    padding: 10px;
    dir: rtl;
    allign: right;
}

.desk{
    background-image: url("../images/desk.png");
    background-size: contain;
    background-repeat: repeat-x;
}