.book-paper{
    background-image: url("../images/book-paper.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: static;
    padding: 10px;
    allign: right;
}

.book-cover{
    background-color: #424242;
    border-color: #34302f;
    border: solid;
    border-width: 15px;
    margin: 0 auto;
}

.desk{
    background-image: url("../images/desk.png");
    background-size: contain;
    background-repeat: repeat-x;
}

button.poet-to-home{
    background-image: url("../images/poet-home.png");
    background-color: #bbaa77;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    position: static;
    border-radius: 7px;
    border-style: outset;

}